/* Border box declaration 
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
 */
*, 
*:before, 
*:after {
  box-sizing: inherit;
}

body {
	font-family: Arial, Geneva, sans-serif;
}
a {
	color: #2772B0;
}
.wrapper {
	width: 97%;
	max-width: 1200px;
	margin: 0 auto;
	float: none;
	background-color: #fff;
}

div img {
	max-width: 375px;
	width: 100%;
}

/* grid system -- mobile first! */

.row::after {
	clear: both;
	content: '';
	display: table;
}

[class*="col-"] {
	margin: 0 1%;
	position: relative;
	width: 98%;
}

.col-3 {
	background: lemonchiffon;
}

.col-6 {
	background: mediumpurple;
}

.col-9 {
	background: mediumturquoise;
}

.col-12 {
	background:orchid;
}

/* Mobile Landscape Screen Sizes */
@media only screen and (min-width: 480px)  {

}
/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {
	[class*="col-"] {
		float: left;
	}

	.col-3 {
		width: 23%;
	}

	.col-6 {
		width: 48%;
	}

	.col-9 {
		width: 73%;
	}

	.col-push-9 {
		left: 75%;
	}

	.col-pull-3 {
		left: -25%;
	}
	
}